<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "woojooin.planit.domain.report.mapper.ReportMapper">

<select id="findReturnRateByType" resultType="woojooin.planit.domain.report.domain.dto.ReturnRateDto">
    select
        return_date AS date,
        return_rate AS rate
    from investment_return
    where member_id=#{memberId}
      AND return_type = #{returnType}
    <if test="startDate != null">
        AND return_date &lt;= #{startDate}
    </if>
    ORDER BY return_date DESC
        LIMIT 7
</select>

    <select id="findDailyTotalInvest" resultType="woojooin.planit.domain.report.api.domain.res.DailyRowRes">
        SELECT updated_at AS date,
           daily_invest_total,
           daily_valuation_total
        FROM daily_report
        WHERE member_id = #{memberId}
        ORDER BY updated_at DESC
            LIMIT 7
    </select>

    <select id="findWeeklyTotalInvest" resultType="woojooin.planit.domain.report.api.domain.res.WeeklyRowRes">
        SELECT updated_at AS date,
            weekly_total_amount AS weekly_invest_total,
           weekly_valuation_total AS weekly_valuation_total
        FROM weekly_report
        WHERE member_id = #{memberId}
        ORDER BY updated_at DESC
            LIMIT 7
    </select>

    <select id="findMonthlyTotalInvest" resultType="woojooin.planit.domain.report.api.domain.res.MonthlyRowRes">
        SELECT updated_at AS date,
            monthly_total_amount AS monthly_invest_total,
            monthly_valuation_total AS monthly_valuation_total
        FROM monthly_report
        WHERE member_id = #{memberId}
        ORDER BY updated_at DESC
            LIMIT 7
    </select>
    <select id="getIsaType" resultType="java.lang.String">
        SELECT isa_type
        FROM member
        WHERE member_id = #{memberId}
    </select>

    <select id="getCumulativeTaxSavingByMemberId"
            resultType="woojooin.planit.domain.report.domain.dto.IsaCumulativeTaxSavingDTO">
        SELECT quarter, cumulativeTaxSaved
        FROM (
                 SELECT quarter,
                        SUM(tax_saved) OVER (ORDER BY quarter) AS cumulativeTaxSaved
                 FROM isa_tax_saving_history
                 WHERE member_id = #{memberId}
                 ORDER BY quarter DESC
                     LIMIT 8
             ) sub
        ORDER BY quarter ASC;
    </select>
    <select id="getPrincipal" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(present_amount * quantity), 0)
        FROM member_product
        WHERE member_id = #{memberId} AND product_type = 'ETF'
    </select>

    <select id="getLatestIsaTaxSavingHistory"
            resultType="woojooin.planit.domain.report.domain.dto.IsaTaxSavingHistoryDto">
        SELECT general_tax, tax_saved
        FROM isa_tax_saving_history
        WHERE member_id = #{memberId}
        ORDER BY quarter DESC LIMIT 1
    </select>
    <select id="getLatestIsaProfitByMemberId" resultType="java.lang.Long">
        SELECT isa_profit
        FROM isa_tax_saving_history
        WHERE member_id = #{memberId}
        ORDER BY quarter DESC
            LIMIT 1
    </select>
    <select id="getLatestGeneralTaxByMemberId" resultType="java.lang.Long">
        SELECT general_tax
        FROM isa_tax_saving_history
        WHERE member_id = #{memberId}
        ORDER BY quarter DESC
            LIMIT 1
    </select>
    <select id="getLatestTaxSavedByMemberId" resultType="java.lang.Long">
        SELECT tax_saved
        FROM isa_tax_saving_history
        WHERE member_id = #{memberId}
        ORDER BY quarter DESC
            LIMIT 1

    </select>

    <resultMap id="isaTaxSavingHistoryWithMemberMap" type="woojooin.planit.domain.report.domain.vo.IsaTaxSavingHistory">

        <id property="isaTaxSavingHistoryId" column="isa_tax_saving_history_id"/>
        <result property="memberId" column="member_id"/>
        <result property="quarter" column="quarter"/>
        <result property="isaProfit" column="isa_profit"/>
        <result property="generalTax" column="general_tax"/>
        <result property="taxSaved" column="tax_saved"/>

        <association property="member"
                     javaType="woojooin.planit.domain.member.domain.Member"
                     select="woojooin.planit.domain.member.mapper.MemberMapper.findById"
                     column="member_id"/>
    </resultMap>

    <select id="selectIsaTaxSavingHistory"
            parameterType="long"
            resultMap="isaTaxSavingHistoryWithMemberMap">
        SELECT
            isa_tax_saving_history_id,
            member_id,
            quarter,
            isa_profit,
            general_tax,
            tax_saved
        FROM
            isa_tax_saving_history
        WHERE
            isa_tax_saving_history_id = #{isaTaxSavingHistoryId}
    </select>

    <resultMap id="depositTaxSavingHistoryWithAllDetailsMap" type="woojooin.planit.domain.report.domain.vo.DepositTaxSavingHistory">

        <id property="depositTaxSavingHistoryId" column="deposit_tax_saving_history_id"/>
        <result property="memberId" column="member_id"/>
        <result property="accountId" column="account_id"/>
        <result property="quarter" column="quarter"/>
        <result property="interestIncome" column="interest_income"/>
        <result property="incomeTax" column="income_tax"/>
        <result property="localIncomeTax" column="local_income_tax"/>
        <result property="totalTax" column="total_tax"/>
        <result property="netIncome" column="net_income"/>

        <association property="member"
                     javaType="woojooin.planit.domain.member.domain.Member"
                     select="woojooin.planit.domain.member.mapper.MemberMapper.findById"
                     column="member_id"/>

        <association property="account"
                     javaType="woojooin.planit.domain.account.domain.Account"
                     select="woojooin.planit.domain.account.mapper.AccountMapper.findAccountById"
                     column="account_id"/>
    </resultMap>


    <select id="selectDepositTaxSavingHistory"
            parameterType="long"
            resultMap="depositTaxSavingHistoryWithAllDetailsMap">
        SELECT *
        FROM deposit_tax_saving_history
        WHERE deposit_tax_saving_history_id = #{depositTaxSavingHistoryId}
    </select>

    <resultMap id="isaTaxSavingHistoryMap" type="woojooin.planit.domain.report.domain.vo.IsaTaxSavingHistory">

        <id property="isaTaxSavingHistoryId" column="isa_tax_saving_history_id"/>
        <result property="memberId" column="member_id"/>
        <result property="quarter" column="quarter"/>
        <result property="isaProfit" column="isa_profit"/>
        <result property="generalTax" column="general_tax"/>
        <result property="taxSaved" column="tax_saved"/>
    </resultMap>

    <select id="selectIsaTaxSavingHistoriesByMemberId"
            parameterType="long"
            resultMap="isaTaxSavingHistoryMap">
        SELECT
         *
        FROM
            isa_tax_saving_history
        WHERE
            member_id = #{memberId}
        ORDER BY
            quarter DESC
    </select>

    <resultMap id="depositTaxSavingHistoryMap" type="woojooin.planit.domain.report.domain.vo.DepositTaxSavingHistory">
        <id property="depositTaxSavingHistoryId" column="deposit_tax_saving_history_id"/>
        <result property="memberId" column="member_id"/>
        <result property="accountId" column="account_id"/>
        <result property="quarter" column="quarter"/>
        <result property="interestIncome" column="interest_income"/>
        <result property="incomeTax" column="income_tax"/>
        <result property="localIncomeTax" column="local_income_tax"/>
        <result property="totalTax" column="total_tax"/>
        <result property="netIncome" column="net_income"/>
    </resultMap>

    <select id="selectDepositTaxSavingHistoriesByMemberId"
            parameterType="long"
            resultMap="depositTaxSavingHistoryMap">
        SELECT
            *
        FROM
            deposit_tax_saving_history
        WHERE
            member_id = #{memberId}
        ORDER BY
            quarter DESC
    </select>

    <select id="selectDepositTaxSavingHistoriesByAccountId"
            parameterType="long"
            resultMap="depositTaxSavingHistoryMap">
        SELECT
            *
        FROM
            deposit_tax_saving_history
        WHERE
            account_id = #{accountId}
        ORDER BY
            quarter DESC
    </select>
</mapper>