<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="woojooin.planit.domain.goal.mapper.GoalMapper">

    <resultMap id="GoalResultMap" type="woojooin.planit.domain.goal.domain.Goal">
        <id property="objectId" column="object_id"/>
        <result property="memberId" column="member_id"/>
        <result property="objectName" column="object_name"/>
        <result property="targetAmount" column="target_amount"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="depositRate" column="deposit_rate"/>
        <result property="isaRate" column="isa_rate"/>
        <result property="startAmount" column="start_amount"/>
        <result property="goalRate" column="goal_rate"/>
    </resultMap>

    <insert id="insertGoal" parameterType="woojooin.planit.domain.goal.domain.Goal" useGeneratedKeys="true" keyProperty="objectId">
    insert  into `goal`  (member_id, object_name, target_amount, start_date, end_date,
            deposit_rate, isa_rate, start_amount, goal_rate
        )
    VALUES (
        #{memberId}, #{objectName}, #{targetAmount}, #{startDate}, #{endDate},
        #{depositRate}, #{isaRate}, #{startAmount}, #{goalRate}
        )
    </insert>


    <update id="updateGoal" parameterType="woojooin.planit.domain.goal.domain.Goal">
        UPDATE `goal`
        SET
            object_name = #{objectName},
            target_amount = #{targetAmount},
            start_date = #{startDate},
            end_date = #{endDate},
            isa_rate = #{isaRate},
            deposit_rate = #{depositRate},
            start_amount = #{startAmount},
            goal_rate = #{goalRate}
        WHERE object_id = #{objectId} AND member_id = #{memberId}
        /*goal.getGoaldID*/
    </update>

    <select id="selectGoalById" resultMap="GoalResultMap" >
        SELECT
            object_id, member_id, object_name, target_amount,
            start_date, end_date, deposit_rate, isa_rate,
            start_amount, goal_rate
        FROM `goal`
        WHERE object_id = #{objectId} AND member_id = #{memberId}
    </select>



    <select id="selectAllGoals" resultMap="GoalResultMap" parameterType="Long">
        SELECT
            object_id, member_id, object_name, target_amount,
            start_date, end_date, deposit_rate, isa_rate,
            start_amount, goal_rate
        FROM `goal`
        WHERE member_id = #{memberId}
        ORDER BY object_id DESC
    </select>

    <delete id="deleteGoal" >
        delete from `goal`
               where object_id = #{objectId} AND member_id = #{memberId}
    </delete>

    <select id="selectGoalProgressByGoalId" resultType="woojooin.planit.domain.goal.dto.GoalProgressGraphDTO">
        SELECT
            progress_date,
            isa_progress,
            deposit_progress
        FROM daily_goal_progress
        WHERE goal_id = #{goalId}
        ORDER BY progress_date ASC
    </select>

</mapper>

