<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="woojooin.planit.domain.member.mapper.MemberProductMapper">
    <insert id="insert" parameterType="woojooin.planit.domain.member.domain.MemberProduct">
        INSERT INTO member_product (
            member_id,
            product_id,
            product_type_code,
            product_type,
            avg_present_amount,
            present_amount,
            balance_type,
            item_name,
            valuation_pl,
            quantity,
            purchase_amount,
            earnings_rate,
            account_currency,
            settle_quantity,
            item_code,
            deposit_received,
            is_integrated,
            valuation_amount,
            account_extends,
            created_at,
            updated_at
        ) VALUES (
                     #{memberId},
                     #{productId},
                     #{productTypeCode},
                     #{productType},
                     #{avgPresentAmount},
                     #{presentAmount},
                     #{balanceType},
                     #{itemName},
                     #{valuationPl},
                     #{quantity},
                     #{purchaseAmount},
                     #{earningsRate},
                     #{accountCurrency},
                     #{settleQuantity},
                     #{itemCode},
                     #{depositReceived},
                     #{isIntegrated},
                     #{valuationAmount},
                     #{accountExtends},
                     #{createdAt},
                     #{updatedAt}
                 )
    </insert>

    <insert id="insertAll" parameterType="java.util.List">
        INSERT INTO member_product (
        member_id,
        product_id,
        product_type_code,
        product_type,
        avg_present_amount,
        present_amount,
        balance_type,
        item_name,
        valuation_pl,
        quantity,
        purchase_amount,
        earnings_rate,
        account_currency,
        settle_quantity,
        item_code,
        deposit_received,
        is_integrated,
        valuation_amount,
        account_extends,
        created_at,
        updated_at
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.memberId},
            #{item.productId},
            #{item.productTypeCode},
            #{item.productType},
            #{item.avgPresentAmount},
            #{item.presentAmount},
            #{item.balanceType},
            #{item.itemName},
            #{item.valuationPl},
            #{item.quantity},
            #{item.purchaseAmount},
            #{item.earningsRate},
            #{item.accountCurrency},
            #{item.settleQuantity},
            #{item.itemCode},
            #{item.depositReceived},
            #{item.isIntegrated},
            #{item.valuationAmount},
            #{item.accountExtends},
            #{item.createdAt},
            #{item.updatedAt}
            )
        </foreach>
    </insert>


    <select id="select" parameterType="java.lang.Long" resultType="woojooin.planit.domain.member.domain.MemberProduct">
        SELECT *
        FROM member_product
        WHERE member_id = #{memberId}
    </select>
</mapper>