<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="woojooin.planit.domain.member.mapper.MemberProductMapper">

    <resultMap id="MemberProductResultMap" type="woojooin.planit.domain.member.domain.MemberProduct">
        <id property="memberProductId" column="member_product_id"/>

        <result property="accountId" column="account_id"/>
        <result property="itemName" column="item_name"/>
        <result property="itemCode" column="item_code"/>
        <result property="productId" column="product_id"/>
        <result property="accountNumber" column="account_number"/>
        <result property="accountExtends" column="account_extends"/>
        <result property="balanceType" column="balance_type"/>
        <result property="accountCurrency" column="account_currency"/>
        <result property="avgPresentAmount" column="avg_present_amount"/>
        <result property="presentAmount" column="present_amount"/>
        <result property="valuationPl" column="valuation_pl"/>
        <result property="valuationAmount" column="valuation_amount"/>
        <result property="purchaseAmount" column="purchase_amount"/>
        <result property="earningsRate" column="earnings_rate"/>
        <result property="depositReceived" column="deposit_received"/>
        <result property="quantity" column="quantity"/>
        <result property="settleQuantity" column="settle_quantity"/>
        <result property="isIntegrated" column="is_integrated"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>

        <!-- Lazy로 나중에 실행 -->
        <association property="member"
                     javaType="woojooin.planit.domain.member.domain.Member"
                     column="member_id"
                     select="woojooin.planit.domain.member.mapper.MemberMapper.findById"/>

        <collection property="actionList"
                    ofType="woojooin.planit.domain.goal.action.domain.Action"
                    column="member_product_id"
                    select="woojooin.planit.domain.goal.action.mapper.ActionMapper.findByMemberProductId"/>
    </resultMap>

    <select id="findByMemberProductId" parameterType="java.lang.Long"
            resultMap="MemberProductResultMap">
        SELECT *
        FROM member_product
        WHERE member_product_id = #{memberProductId}
    </select>

    <insert id="insert" parameterType="woojooin.planit.domain.member.domain.MemberProduct"
            useGeneratedKeys="true"
            keyProperty="memberProductId"
            keyColumn="member_product_id">
        INSERT INTO member_product (member_id,
                                    product_type_code,
                                    account_id,
                                    product_id,
                                    item_name,
                                    item_code,
                                    account_extends,
                                    balance_type,
                                    account_currency,
                                    avg_present_amount,
                                    present_amount,
                                    valuation_pl,
                                    valuation_amount,
                                    purchase_amount,
                                    earnings_rate,
                                    deposit_received,
                                    quantity,
                                    settle_quantity,
                                    created_at,
                                    updated_at)
        VALUES (#{memberId},
                #{productTypeCode},
                #{accountId},
                #{productId},
                #{itemName},
                #{itemCode},
                #{accountExtends},
                #{balanceType},
                #{accountCurrency},
                #{avgPresentAmount},
                #{presentAmount},
                #{valuationPl},
                #{valuationAmount},
                #{purchaseAmount},
                #{earningsRate},
                #{depositReceived},
                #{quantity},
                #{settleQuantity},
                #{createdAt},
                #{updatedAt})
    </insert>

    <insert id="insertAll" parameterType="java.util.List">
        INSERT INTO member_product (
        member_id,
        account_id,
        product_type_code,
        item_name,
        item_code,
        account_number,
        account_extends,
        balance_type,
        account_currency,
        avg_present_amount,
        present_amount,
        valuation_pl,
        valuation_amount,
        purchase_amount,
        earnings_rate,
        deposit_received,
        quantity,
        settle_quantity,
        created_at,
        updated_at
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.memberId},
            #{item.accountId},
            #{item.productTypeCode},
            #{item.itemName},
            #{item.itemCode},
            #{item.accountNumber},
            #{item.accountExtends},
            #{item.balanceType},
            #{item.accountCurrency},
            #{item.avgPresentAmount},
            #{item.presentAmount},
            #{item.valuationPl},
            #{item.valuationAmount},
            #{item.purchaseAmount},
            #{item.earningsRate},
            #{item.depositReceived},
            #{item.quantity},
            #{item.settleQuantity},
            #{item.createdAt},
            #{item.updatedAt}
            )
        </foreach>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO member_product (
        member_id,
        account_id,
        product_type_code,
        product_id,
        item_name,
        item_code,
        account_extends,
        balance_type,
        account_currency,
        avg_present_amount,
        present_amount,
        valuation_pl,
        valuation_amount,
        purchase_amount,
        earnings_rate,
        deposit_received,
        quantity,
        settle_quantity,
        is_integrated,
        created_at,
        updated_at
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.memberId},
            #{item.accountId},
            #{item.productTypeCode},
            #{item.productId},
            #{item.itemName},
            #{item.itemCode},
            #{item.accountExtends},
            #{item.balanceType},
            #{item.accountCurrency},
            #{item.avgPresentAmount},
            #{item.presentAmount},
            #{item.valuationPl},
            #{item.valuationAmount},
            #{item.purchaseAmount},
            #{item.earningsRate},
            #{item.depositReceived},
            #{item.quantity},
            #{item.settleQuantity},
            #{item.isIntegrated},
            #{item.createdAt},
            #{item.updatedAt}
            )
        </foreach>
    </insert>

    <select id="select" parameterType="java.lang.Long" resultType="woojooin.planit.domain.member.domain.MemberProduct">
        SELECT *
        FROM member_product
        WHERE member_id = #{memberId}
    </select>

    <select id="findById" parameterType="java.lang.Long"
            resultType="woojooin.planit.domain.member.domain.MemberProduct">
        SELECT *
        FROM member_product
        WHERE member_product_id = #{id}
    </select>

    <select id="selectProductIdByItemName" resultType="java.lang.Long">
        SELECT CAST(shorten_code AS UNSIGNED) as productId
        FROM product
        WHERE item_name = #{itemName}
          AND base_date = (SELECT MAX(base_date)
                           FROM product
                           WHERE item_name = #{itemName})
            LIMIT 1
    </select>


</mapper>