<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="woojooin.planit.domain.product.mapper.ProductMapper">

    <select id="selectByRiskLevel" resultType="woojooin.planit.domain.product.domain.Product">
        SELECT p.*
        FROM product p
                 INNER JOIN (
            SELECT shorten_code, MAX(base_date) AS max_base_date
            FROM product
            WHERE invest_type = #{riskLevel}
            GROUP BY shorten_code
        ) sub ON p.shorten_code = sub.shorten_code
            AND p.base_date = sub.max_base_date
        WHERE p.invest_type = #{riskLevel}
        ORDER BY CAST(p.fluctuation_rate AS DECIMAL(20, 3)) DESC
    </select>

    <select id="selectBySrtnCd" resultType="woojooin.planit.domain.product.domain.Product">
        SELECT *
        FROM product
        WHERE shorten_code = #{shortenCode}
          AND base_date = (
            SELECT MAX(base_date)
            FROM product
            WHERE shorten_code = #{shortenCode}
        )
    </select>

    <select id="selectProductIdByItemName" resultType="java.lang.Long">
        SELECT CAST(shorten_code AS UNSIGNED) as productId
        FROM product
        WHERE item_name = #{itemName}
          AND base_date = (
            SELECT MAX(base_date)
            FROM product
            WHERE item_name = #{itemName}
        )
        LIMIT 1
    </select>

</mapper>
