<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="woojooin.planit.domain.rebalance.mapper.RebalanceMapper">

    <resultMap id="RebalanceResultMap" type="woojooin.planit.domain.rebalance.vo.Rebalance">
        <!-- 단일 컬럼 매핑 -->
        <id property="rebalanceId" column="rebalance_id"/>
        <result property="productCode" column="product_code"/>
        <result property="memberProductId" column="member_product_id"/>
        <result property="goalId" column="goal_id"/>
        <result property="comment" column="comment"/>
        <result property="expectedReturnRate" column="expected_return_rate"/>
        <result property="previousProductName" column="previous_product_name"/>
        <result property="nextProductName" column="next_product_name"/>
        <result property="investType" column="invest_type"/>

        <association property="goal"
                     javaType="woojooin.planit.domain.goal.domain.Goal"
                     column="goal_id"
                     select="woojooin.planit.domain.goal.mapper.GoalMapper.findById"/>

        <association property="goal"
                     javaType="woojooin.planit.domain.goal.domain.Goal"
                     column="goal_id"
                     select="woojooin.planit.domain.goal.mapper.GoalMapper.findById"/>

        <association property="goal"
                     javaType="woojooin.planit.domain.goal.domain.Goal"
                     column="goal_id"
                     select="woojooin.planit.domain.goal.mapper.GoalMapper.findById"/>

        <association property="product"
                     javaType="woojooin.planit.domain.product.domain.Product"
                     column="product_code"
                     select="woojooin.planit.domain.product.mapper.ProductMapper.findByShortenCode"/>


        <association property="memberProduct"
                     javaType="woojooin.planit.domain.member.domain.MemberProduct"
                     column="member_product_id"
                     select="woojooin.planit.domain.member.mapper.MemberProductMapper.findById"/>


    </resultMap>

    <select id="findById" parameterType="java.lang.Long" resultMap="RebalanceResultMap">
        SELECT *
        FROM rebalancing
        WHERE rebalance_id = ${id}
    </select>

    <!-- 단일 insert -->
    <insert id="insert"
            parameterType="woojooin.planit.domain.rebalance.vo.Rebalance"
            useGeneratedKeys="true"
            keyProperty="rebalanceId"
            keyColumn="rebalance_id">
        INSERT INTO rebalancing (goal_id,
                                 product_code,
                                 member_product_id,
                                 comment,
                                 expected_return_rate,
                                 previous_product_name,
                                 invest_type,
                                 next_product_name,
                                 created_at)
        VALUES (#{goalId},
                #{productCode},
                #{memberProductId},
                #{comment},
                #{expectedReturnRate},
                #{previousProductName},
                #{investType},
                #{nextProductName},
                CURRENT_TIMESTAMP)
    </insert>

    <!-- 배치 insert -->
    <insert id="insertAll" parameterType="java.util.List">
        INSERT INTO rebalancing (
        goal_id,
        product_code,
        member_product_id,
        comment,
        expected_return_rate,
        previous_product_name,
        invest_type,
        next_product_name
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.goalId},
            #{item.productCode},
            #{item.memberProductId},
            #{item.comment},
            #{item.expectedReturnRate},
            #{item.previousProductName},
            #{item.investType},
            #{item.nextProductName}
            )
        </foreach>
    </insert>

    <!-- goal_id 로 조회 -->
    <select id="selectByGoalId"
            parameterType="long"
            resultType="woojooin.planit.domain.rebalance.vo.Rebalance">
        SELECT rebalance_id          AS rebalanceId,
               goal_id               AS goalId,
               product_code          AS productCode,
               member_product_id     AS memberProductId,
               comment,
               expected_return_rate  AS expectedReturnRate,
               previous_product_name AS previousProductName,
               invest_type           AS investType,
               next_product_name     AS nextProductName
        FROM rebalancing
        WHERE goal_id = #{goalId}
    </select>

    <!-- goal_id 로 조회 -->
    <select id="findLatestRebalanceByGoalId"
            parameterType="long"
            resultType="woojooin.planit.domain.rebalance.vo.Rebalance">
        SELECT rebalance_id          AS rebalanceId,
               goal_id               AS goalId,
               product_code          AS productCode,
               member_product_id     AS memberProductId,
               comment,
               expected_return_rate  AS expectedReturnRate,
               previous_product_name AS previousProductName,
               invest_type           AS investType,
               next_product_name     AS nextProductName
        FROM rebalancing
        WHERE goal_id = #{goalId}
        ORDER BY created_at LIMIT 3
    </select>

    <select id="findRebalanceInvestInfoByMemberId" parameterType="long"
            resultType="woojooin.planit.domain.rebalance.dto.res.RebalanceInvestInfoRes">
        select item_name,
               quantity,
               valuation_amount,
               earnings_rate,
               valuation_amount * quantity as total_valuation_amount
        from member_product
        where member_id = #{memberId}
    </select>

</mapper>